.layout-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-transform: uppercase;
  color: var(--yellow);
  user-select: none;

  .bar {
    height: 1px;
    background-color: var(--yellow);
  }
}
