.layout-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-transform: uppercase;
  color: var(--yellow);
  user-select: none;
  margin-bottom: 40px;
  overflow: hidden;

  h1 {
    @media only screen and (max-width: 800px) {
      font-size: 50px;
    }
  }

  .bar {
    height: 1px;
    background-color: var(--yellow);

    @media only screen and (max-width: 450px) {
      display: none;
    }
  }
}
