@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Roboto+Mono:wght@200;400;700&display=swap");

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 90px;
  }

  .burger-menu {
    width: 30px;
    display: none;
    cursor: pointer;

    @media only screen and (max-width: 900px) {
      display: block;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 17px;
    text-transform: uppercase;
    user-select: none;

    @media only screen and (max-width: 900px) {
      display: none;
    }

    .nav-item {
      overflow: hidden;
      position: relative;
      padding: 0;
      height: 30px;

      span {
        display: inline-block;
        transition: all 0.2s ease-in-out;

        &::before {
          content: attr(dataText);
          position: absolute;
          transform: translateY(100%);
        }

        &:hover {
          transform: translateY(-100%);
        }
      }
    }

    .current-path {
      color: var(--yellow);
    }

    a {
      display: flex;
      align-items: center;
      font-family: "Roboto Mono", monospace;
      cursor: pointer;
      padding: 5px;
      text-align: center;
    }
  }
}
