.gallery-item {
  width: 400px;
  height: 500px;
  border: 1px solid yellow;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  .img-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      transition: transform 1s ease-in-out;
      filter: grayscale(1);
    }
  }
}

.gallery-item > .img-wrapper > .img:hover {
  transform: scale(1.1);
  filter: none;
}
