.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Roboto Mono", monospace;
  user-select: none;
  margin-top: 40px;
  margin-bottom: 40px;

  .bar {
    height: 1px;
    background-color: var(--yellow);

    @media only screen and (max-width: 450px) {
      display: none;
    }
  }

  .sub-text {
    overflow: hidden;
    color: var(--yellow);
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 450px) {
      display: none;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 7px;
      font-size: 12px;
      overflow: hidden;
    }
  }
}
