@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Roboto+Mono:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* font-family: "DM Sans", sans-serif; */
  /* font-family: "Roboto Mono", monospace; */
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: black;
  --yellow: #fff500;
  --black-transparent: #00000094;
  color: white;

  background-image: url(assets/backgrounds/desktop/artists.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media only screen and (max-width: 390px) {
    background-image: url(assets/backgrounds/desktop/get-in-touch.png);
  }
}

h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 113%;
}

h2 {
  font-size: 70px;
  line-height: 113%;
}

h3 {
  font-size: 54px;
}

h4 {
  font-size: 48px;
  font-weight: bold;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 24px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
