.lang-wrapper {
  gap: 5px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  position: relative;

  .lang {
    gap: 5px;
    display: flex;
    align-items: center;
    padding: 7px 14px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;

    &:hover {
      background-color: #ffff0021;
    }
  }

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 100%;
    left: -9%;
    color: black;
    background-color: var(--yellow);
    padding: 10px 20px;
    color: var(--black-transparent);
    z-index: 4;
    border-radius: 20px;

    .option {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      font-family: "Roboto Mono", monospace;

      p {
        width: 100%;
      }

      .check {
        color: black;
      }

      .option-text {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }
}
